html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 50px;
  /* border: 1px solid #900; */
}

video-pad-board {
  flex-grow: 4;
  /* border: 1px solid #009; */
}

/* use breakpoints to determine number of pads per row,
then use a percent of vmax to have the pads fill the width.
Then maybe use the padding trick to get them to be the same height? */

#padsSection {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pad {
  position: relative;
  overflow: hidden;
}

.pad iframe {
  /* border: 5px solid #fff; */
}

.padTrigger {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 4px solid #fff;
  color: #fff;
  background-color: #009;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  padding: 20px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  /* border: 10px solid #fff;
  border-radius: 10px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

video-pad {
  width: 200px;
  height: 200px;
}
